*{
  font-family: Cera Pro;
}
body{
  margin: 0 8%;
  padding: 0;
}
.active{
  color: #46A358;
}

.slidePages{
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x proximity ;
  scroll-behavior: smooth;
  
}
.slidePages::-webkit-scrollbar-track{
  background: transparent;
} 
.headerPage1{
  scroll-snap-align: start;
 flex-shrink: 0;
 transform-origin: center center;
 transform: scale(1);
 transition: transform 0.5s;
 position: relative;
}
.headerPage1:target{
  transform: scale(0.8);
}

